---
import { Markdown } from 'astro-remote';

const { title, open, text } = Astro.props;

const html = await Astro.slots.render('default');
---

<details open={open}>
    <summary>{title}</summary>
    <div class="markdown-inner">
        <Markdown content={html} />
    </div>
</details>
