---
import { marked } from 'marked';
import { memos } from '../../data/ghost-store';
import { Markdown } from 'astro-remote';
import CodeSlot from '../CodeSlot.astro';
import IFrameSlot from '../IFrameSlot.astro';
import RemotePicture from '../RemotePicture.astro';
import Columns from './Columns.astro';
import Details from './Details.astro';
import Link from './Link.astro';
---

<div class="now bio">
    <h2 class="book-title"><a href="/now/">Now</a></h2>
    <Markdown
        content={marked.parse(memos[0].content)}
        sanitize={{ allowComponents: true, allowCustomElements: true }}
        components={{ pre: CodeSlot, img: RemotePicture, iframe: IFrameSlot, details: Details, columns: Columns, a: Link }}
    />
</div>
