---

---

<div class="strava">
    <h2 class="book-title">
        <a href="/now/">Strava</a>
    </h2>
    <div id="totalActivities">跑步 5次，共 190km，骑行 4次， 共 403km</div>
    <div class="strava-container">
        <div id="calendar" class="calendar">
            <div class="calendar-week-header">一</div><div class="calendar-week-header">二</div><div class="calendar-week-header">三</div><div
                class="calendar-week-header"
            >
                四
            </div><div class="calendar-week-header">五</div><div class="calendar-week-header">六</div><div class="calendar-week-header">日</div><div
                class="day-container"
            >
                <span class="date-number">21</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">22</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">23</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">24</span><div class="activity-indicator" style="width: 3.44px; height: 3.44px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">25</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">26</span><div class="activity-indicator" style="width: 24px; height: 24px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">27</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">28</span><div class="activity-indicator" style="width: 24px; height: 24px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">29</span><div class="activity-indicator" style="width: 24px; height: 24px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">30</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">1</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">2</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">3</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">4</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">5</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">6</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">7</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">8</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">9</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">10</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">11</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">12</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container">
                <span class="date-number">13</span><div class="activity-indicator no-activity" style="width: 2px; height: 2px; left: 50%; top: 50%;"></div>
            </div><div class="day-container today">
                <span class="date-number" style="color: rgb(36, 36, 40); opacity: 1;">14</span><div
                    class="activity-indicator no-activity"
                    style="width: 2px; height: 2px; left: 50%; top: 50%; background-color: rgb(36, 36, 40); opacity: 0;"
                >
                </div>
            </div>
        </div>
        <div class="sports">
            <div class="icon-container">
                <div class="icon-item">
                    <div class="road_bike_color"></div>
                    <div class="icon-svg">
                        <!--?xml version="1.0" standalone="no"?-->
                        <svg
                            t="1723322106060"
                            class="icon road_bike"
                            viewBox="0 0 1024 1024"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            p-id="2623"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="200"
                            height="200"
                            ><path
                                d="M784.4783 420.507216c-15.030321 0-29.610388 1.967818-43.50177 5.617951l-51.014884-140.92052 94.51563 0c17.318434 0 30.614252 6.154163 36.464493 16.881482 4.053316 7.42204 3.749394 15.760962-0.825808 22.87294-8.037047 12.508895-26.931373 18.708084-52.021817 16.835434-8.627495-0.51984-16.027022 5.843078-16.643052 14.402011-0.61603 8.569166 5.826705 16.014742 14.399965 16.637935 36.688597 2.591011 66.040089-8.65717 80.434937-31.039947 10.768251-16.741289 11.498892-37.155225 1.971911-54.613852-11.313673-20.726044-35.154661-33.094746-63.780629-33.094746L667.782507 254.085906c-5.074575 0-9.827833 2.476401-12.745279 6.624884-2.90926 4.148483-3.615341 9.466606-1.886977 14.229073l17.800411 49.1627L408.224983 324.102562l-8.425903-23.339568 42.371016 0c8.589632 0 15.559371-6.966669 15.559371-15.559371 0-8.592702-6.969739-15.559371-15.559371-15.559371l-101.136422 0c-8.589632 0-15.559371 6.966669-15.559371 15.559371 0 8.592702 6.970762 15.559371 15.559371 15.559371l26.077935 0c0.148379 1.093914 0.38681 2.184759 0.778736 3.260254l10.82658 29.971615L315.570747 438.202227c-22.834055-11.305487-48.5129-17.695011-75.673493-17.695011-94.375437 0-171.155125 76.779687-171.155125 171.155125 0 94.378507 76.779687 171.154102 171.155125 171.154102 87.507006 0 159.834288-66.018599 169.908738-150.86194l38.340213 0c7.995091 14.246469 23.237237 23.904433 40.702004 23.904433 25.744337 0 46.679136-20.940938 46.679136-46.677089 0-8.240685-2.165316-15.97381-5.921873-22.694885l156.965961-199.222367 25.160029 69.520353c-58.094116 27.392884-98.406241 86.500073-98.406241 154.877393 0 94.378507 76.779687 171.154102 171.154102 171.154102 94.375437 0 171.155125-76.775594 171.155125-171.154102C955.633425 497.286903 878.853737 420.507216 784.4783 420.507216M656.431995 355.223351 506.219855 545.886785c-5.375427-2.164293-11.232832-3.384074-17.372669-3.384074-0.569982 0-1.127683 0.063445-1.693572 0.086981l-67.685565-187.367365L656.431995 355.222327zM392.300292 371.606483l65.912176 182.441169c-7.810896 6.821359-13.326517 16.175401-15.256472 26.78811l-32.284287 0c-3.236718-51.650357-29.463032-97.17111-68.581981-126.383432L392.300292 371.606483zM379.377982 580.835761 265.500375 580.835761l60.308551-99.510388C356.000552 504.880859 376.266108 540.447912 379.377982 580.835761M239.897254 731.696678c-77.213569 0-140.03536-62.819744-140.03536-140.03536 0-77.212546 62.822814-140.03536 140.03536-140.03536 21.253046 0 41.340547 4.900613 59.403948 13.412474l-72.707952 119.971395c-1.861394 3.057639-2.473331 6.501064-2.092661 9.79611-0.054235 0.528026-0.163729 1.048889-0.163729 1.588171 0 8.592702 6.970762 15.559371 15.560394 15.559371l138.395 0C368.403023 679.56025 310.202483 731.696678 239.897254 731.696678M488.848209 604.740194c-8.581446 0-15.559371-6.985088-15.559371-15.558347 0-8.582469 6.976902-15.559371 15.559371-15.559371 8.581446 0 15.559371 6.976902 15.559371 15.559371C504.40758 597.755106 497.429655 604.740194 488.848209 604.740194M784.4783 731.696678c-77.212546 0-140.03536-62.819744-140.03536-140.03536 0-54.906517 31.847336-102.413508 77.983095-125.346823l47.420009 131.009799c2.294252 6.326079 8.266267 10.271948 14.632255 10.271948 1.76725 0 3.548826-0.304945 5.296633-0.934279 8.083096-2.923586 12.260232-11.856026 9.336646-19.932981l-47.446615-131.058918c10.547217-2.549056 21.494547-4.045129 32.813337-4.045129 77.212546 0 140.03536 62.822814 140.03536 140.03536C924.51366 668.877957 861.690846 731.696678 784.4783 731.696678"
                                fill="#000000"
                                p-id="2624"></path></svg
                        >
                    </div>
                </div>
                <div class="icon-item running">
                    <div class="running_color"></div>
                    <div class="icon-svg running">
                        <!--?xml version="1.0" standalone="no"?-->
                        <svg
                            t="1723322071467"
                            class="icon cycling-icon"
                            viewBox="0 0 1154 1024"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            p-id="1883"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="225.390625"
                            height="200"
                            ><path
                                d="M1149.530602 700.13473a106.926654 106.926654 0 0 0-76.257768-57.930116 33.662095 33.662095 0 0 0-5.433827-0.690741c-234.851824-8.749382-334.456626-345.830823-335.423663-349.284526a32.234564 32.234564 0 0 0-15.380492-19.110491 31.912218 31.912218 0 0 0-24.360121-2.578765c-96.703692 28.642713-165.777758 25.925799-205.334172-7.966542a159.883438 159.883438 0 0 1-39.464317-127.326528 32.004317 32.004317 0 0 0-30.484687-36.286909c-178.993929-5.525925-297.801322 196.953186-313.918605 226.332688l-53.647524 50.654315a106.235913 106.235913 0 0 0 2.855061 156.936278l141.97023 124.333318a126.543688 126.543688 0 0 0 59.265549 29.057157 296.51194 296.51194 0 0 1 192.670594 131.056527c0.73679 1.243333 1.47358 2.440617 2.302469 3.637901a490.471916 490.471916 0 0 0 234.483428 163.014795 466.434141 466.434141 0 0 0 102.920358 12.018888 400.629581 400.629581 0 0 0 344.54144-209.064173 141.325539 141.325539 0 0 0 16.30148-28.82691 77.731349 77.731349 0 0 0 2.394567-57.976166z m-580.958942 34.03049l65.80456 53.877771a272.428115 272.428115 0 0 0 172.132572 61.38382h2.532715a926.42137 926.42137 0 0 0 217.813554-24.728515 322.069344 322.069344 0 0 1-327.226874 97.854926 435.765256 435.765256 0 0 1-198.012322-137.227144 357.895759 357.895759 0 0 0-235.726761-161.449116 62.627153 62.627153 0 0 1-29.241355-14.367406l-141.97023-124.333318a42.273328 42.273328 0 0 1-0.967036-62.581104l36.517156-34.583082 74.830238 64.469128a774.734721 774.734721 0 0 0 127.833071 88.506903 613.101408 613.101408 0 0 1 147.358006 107.985789 840.262985 840.262985 0 0 0 88.322706 85.191348z m106.235913 4.604938l-65.758511-53.877771a778.234474 778.234474 0 0 1-81.783693-79.15888 672.873499 672.873499 0 0 0-163.383191-120.787516 705.108063 705.108063 0 0 1-117.241714-81.185052L170.152449 338.094527c27.629626-44.483698 107.156901-157.120475 212.978369-173.375905a200.130593 200.130593 0 0 0 62.396906 146.206773c52.127895 44.990241 131.332824 54.70666 235.358367 29.103206 33.201601 93.019742 147.358007 354.580204 380.229707 365.033413 11.83469 3.131358 26.156046 10.959752 28.642713 17.72901a10.038764 10.038764 0 0 1 0 5.019382c-45.358637 36.056662-144.963439 56.594685-281.453794 57.884067a203.123803 203.123803 0 0 1-133.497144-47.062463z"
                                fill="#000000"
                                p-id="1884"></path><path
                                d="M708.653865 408.780321a31.635922 31.635922 0 0 0-19.801232-14.551603 31.03728 31.03728 0 0 0-23.991726 3.637901l-57.791968 34.767279a31.912218 31.912218 0 0 0 32.925305 54.706661l57.791968-34.76728a31.958268 31.958268 0 0 0 10.867653-43.792958z"
                                fill="#000000"
                                p-id="1885"></path><path
                                d="M732.783739 508.523272a32.234564 32.234564 0 0 0-24.129874 3.73l-25.971849 15.840985a31.912218 31.912218 0 0 0 33.247651 54.522463l25.971848-15.840986a31.912218 31.912218 0 0 0 10.591357-43.839007 31.543823 31.543823 0 0 0-19.709133-14.413455z"
                                fill="#000000"
                                p-id="1886"></path><path
                                d="M59.495795 63.824437h212.471827a31.912218 31.912218 0 1 0 0-63.824437H59.495795a31.912218 31.912218 0 1 0 0 63.824437z"
                                fill="#000000"
                                p-id="1887"></path><path
                                d="M360.382426 63.824437h27.629626a31.912218 31.912218 0 1 0 0-63.824437h-27.629626a31.912218 31.912218 0 1 0 0 63.824437z"
                                fill="#000000"
                                p-id="1888"></path><path
                                d="M276.342312 883.365202a31.958268 31.958268 0 0 0-31.958267-31.912218H31.958268a31.912218 31.912218 0 1 0 0 63.824437h212.425777a31.958268 31.958268 0 0 0 31.958267-31.912219z"
                                fill="#000000"
                                p-id="1889"></path><path
                                d="M360.382426 851.452984h-27.629627a31.912218 31.912218 0 1 0 0 63.824437h27.629627a31.912218 31.912218 0 1 0 0-63.824437z"
                                fill="#000000"
                                p-id="1890"></path><path
                                d="M350.619958 960.083464H138.148131a31.958268 31.958268 0 0 0 0 63.870487h212.471827a31.958268 31.958268 0 1 0 0-63.870487z"
                                fill="#000000"
                                p-id="1891"></path><path
                                d="M466.572289 960.083464h-27.629626a31.958268 31.958268 0 1 0 0 63.870487h27.629626a31.958268 31.958268 0 1 0 0-63.870487z"
                                fill="#000000"
                                p-id="1892"></path></svg
                        >
                    </div>
                </div>
            </div>
            <div id="barChart" class="bar-chart">
                <div class="bar-container" style="position: relative;">
                    <div class="bar" style="--bar-width: 109.49322629202207px; width: 109.493px; transition: width 1s ease-out 0s;">
                        <div class="cycling-kilometer" style="opacity: 1;">218.22 km</div>
                    </div><div class="message-box">这周干的还不错</div><div class="message-box"></div>
                </div><div class="bar-container" style="position: relative;">
                    <div class="bar" style="--bar-width: 190px; width: 190px; transition: width 1s ease-out 0s;">
                        <div class="cycling-kilometer" style="opacity: 1;">378.67 km</div>
                    </div><div class="message-box"></div><div class="message-box"></div>
                </div><div class="bar-container" style="position: relative;">
                    <div class="bar" style="--bar-width: 0px; width: 0px; transition: width 1s ease-out 0s;">
                        <div class="cycling-kilometer" style="opacity: 1;">0.00 km</div>
                    </div><div class="message-box"></div><div class="message-box"></div>
                </div><div class="bar-container" style="position: relative;">
                    <div class="bar" style="--bar-width: 0px; width: 0px; transition: width 1s ease-out 0s;">
                        <div class="cycling-kilometer" style="opacity: 1;">0.00 km</div>
                    </div><div class="message-box"></div><div class="message-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
