// mixin code style

:root {
    @include theme-light;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme-dark;
    }
}

html.dark {
    @include theme-dark;
    @include code-dark;
    @include gradientback;
}

html.light {
    @include theme-light;
    @include code-light;
    @include gradientback;

    *:not(pre) {
        -webkit-text-stroke: 0.2px !important;
        text-stroke: 0.2px !important;
    }
}

html.yayu {
    @include theme-yayu;
    @include code-dark;
    @include gradientback;
}

html.yuhang {
    @include theme-yuhang;
    @include code-dark;
    @include gradientback;
}

html.herblue {
    @include theme-herblue;
    @include code-dark;
    @include gradientback;
}

html.onojyun {
    @include theme-onojyun;
    @include code-light;

    *:not(pre) {
        -webkit-text-stroke: 0.2px !important;
        text-stroke: 0.2px !important;
    }
}
