:root {
    scrollbar-gutter: stable;
}

html {
    --from: 100% 0 0 0;

    font-size: $font-size-base;
    scroll-behavior: smooth;
    touch-action: manipulation;

    * {
        text-shadow: 0 0 0.75px var(--gray-500);
    }
}

body {
    min-width: $body-min-width;
    color: var(--body-font-color);
    background: var(--body-background);

    letter-spacing: 0.33px;
    font-weight: $body-font-weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: $body-font-weight;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 0.3s;

    &:hover {
        color: var(--color-hover-link);
        transition: color 0.3s;
    }
}

img {
    vertical-align: baseline;
}

:focus {
    @include outline;
}

.atk-main-editor:focus-within,
#book-search-input:focus,
#atk-memoslist .atk-content:hover,
.db--item:hover,
.astro-code:hover,
.footer-map:hover,
.book-columns > div:hover {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray-700) !important;
    outline: 0;
    transition: all 0.3s ease;
}

.atk-main-editor,
#book-search-input {
    transition: all 0.3s ease;
}

aside nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        margin: 1em 0;
        position: relative;
    }

    ul {
        padding-inline-start: $padding-16;
    }
}

ul.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0px;

    .page-item a {
        padding: $padding-16;
    }
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    position: relative;
}

.book-icon {
    height: 1em;
    margin-inline-end: 0.5em;
    width: 1em;
    vertical-align: middle;
}

.book-copy {
    .book-collspan {
        font-style: italic;
        color: var(--gray-700);
    }
}

.book-brand {
    margin-top: 0;
    margin-bottom: $padding-16;

    img {
        height: 1.8em;
        width: 1.8em;
        margin-inline-end: $padding-8;
    }
    .site-description {
        width: 180px;
        font-size: 12px;
        color: var(--gray-700);
    }
    .site-title {
        font-style: italic;
        font-weight: bolder;
        svg {
            margin-left: 5px;
            width: 20px;
            fill: var(--color-hover-link);
            stroke: var(--body-background);
        }
    }

    .site-logo {
        position: relative;

        img {
            border-radius: $border-radius;
        }
    }

    .actives {
        position: absolute;
        right: 3px;
        bottom: -5px;
        width: 20px;
        height: 20px;
        display: none;
        animation: activesInFromRight 0.5s ease-in-out forwards;

        img {
            width: 20px !important;
            height: 20px !important;
            margin-inline-end: 0px;
        }
        &.exit {
            animation: activesOutToLeft 0.5s ease-in-out forwards;
        }
    }
}

@keyframes activesOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes activesInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.book-menu {
    flex: 0 0 $menu-width;
    font-size: $font-size-14;

    .book-menu-content {
        width: $menu-width;
        padding: $padding-16;

        -ms-overflow-style: none; /* 对于 IE 和 Edge */
        scrollbar-width: none; /* 对于 Firefox */

        @include fixed;
    }

    .book-menu-nav {
        .book-collspan {
            position: relative;
            padding-left: 0;
        }
        a.current {
            color: var(--color-link);
            font-weight: 600;
            display: block;

            &:before {
                content: '';
                display: block;
                height: 1.2em;
                width: 5px;
                border-radius: var(--sb-size);
                position: absolute;
                background-color: var(--color-link);
                transform: translateX(-10px);
            }
        }
    }

    a,
    label {
        cursor: pointer;
        word-wrap: break-word;
        color: inherit;

        &:hover {
            color: var(--color-hover-link);
            text-shadow: 0 0 0.75px var(--color-hover-link);
        }
    }

    a.active {
        color: var(--color-link);
    }

    input.toggle + label + ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        will-change: max-height; /* 优化动画性能 */
    }

    input.toggle:checked + label + ul {
        max-height: 1000px; /* 使用一个足够大的值确保内容完全展开 */
        transition: max-height 0.2s ease-in-out; /* 延长展开时间使动画更流畅 */
    }

    input.toggle:checked + label + ul > li:hover {
        color: var(--color-hover-link);
    }

    input.toggle + label::after {
        content: '▸';
    }

    input.toggle:checked + label::after {
        content: '▾';
    }
}

// for RTL support
body[dir='rtl'] .book-menu {
    input.toggle + label::after {
        content: '◂';
    }

    input.toggle:checked + label::after {
        content: '▾';
    }
}

.book-section-flat {
    margin: $padding-16 * 2 0;

    > a,
    > span,
    > label,
    > li {
        font-weight: bolder;
    }

    > ul {
        padding-inline-start: 0;
    }
}

.book-page {
    min-width: $body-min-width;
    flex-grow: 1;
    padding: $padding-16;
}

.book-post,
.book-page {
    margin-bottom: $padding-16 * 3;

    .book-post-meta {
        font-style: italic;
        font-family:
            Snell-Bold,
            ui-serif,
            Georgia,
            Cambria,
            Times New Roman,
            Times,
            serif;

        div {
            display: flex;
            align-items: center;
        }

        span {
            margin-right: 0.8rem;
        }
    }
}

.book-header {
    display: none;
    margin-bottom: $padding-16;

    label {
        line-height: 0;
    }

    svg.book-icon {
        height: 1.5em;
        width: 1.5em;
    }
}

.book-pagination svg.book-icon {
    width: 1.5em;
    height: 1.5em;
}

.book-search {
    position: relative;
    margin: $padding-16 0;
    border-bottom: 1px solid transparent;

    input {
        width: 100%;
        padding: $padding-8;

        border: 1px solid var(--gray-200);
        border-radius: $border-radius;

        background: var(--gray-200);
        color: var(--body-font-color);

        &:required + .book-search-spinner {
            display: block;
        }
    }

    .book-search-spinner {
        position: absolute;
        top: 0;
        margin: $padding-8;
        margin-inline-start: calc(100% - #{$padding-16 + $padding-8});

        width: $padding-16;
        height: $padding-16;

        border: $padding-1 solid transparent;
        border-top-color: var(--body-font-color);
        border-radius: 50%;

        @include spin(1s);
    }

    small {
        opacity: 0.5;
    }
}

.full-width {
    max-width: 95%;

    @media screen and (max-width: $mobile-breakpoint) {
        max-width: 100%;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(30px);
        opacity: 0;
    }
}

.book-toc {
    flex: 0 0 $toc-width;
    font-size: $font-size-12;

    &.full-width {
        position: absolute;
        right: 0px;
    }

    .book-toc-content {
        width: $toc-width;
        padding: $padding-16;

        @include fixed;
        a::before {
            content: '';
            transition: opacity 1s;
            opacity: 0;
        }

        a.active {
            font-weight: bold;
            color: var(--color-link);

            &::before {
                content: '';
                display: block;
                height: 1.2em;
                width: 5px;
                border-radius: var(--sb-size);
                position: absolute;
                background-color: var(--color-link);
                transform: translateX(-10px);
                opacity: 1;
            }
        }
        li.active > a {
            font-weight: bold;
            color: var(--color-link);
        }
        /* 如果想让整条父级也变色 */
    }

    svg {
        height: 1em;
        width: 1em;
    }

    nav > ul > li:first-child {
        margin-top: 0;
    }
}

.book-footer {
    padding: $padding-16 0;
    font-size: $font-size-14;

    svg {
        height: 1em;
        width: 1em;
        margin-inline-end: $padding-8;
    }
}

.book-comments {
    margin-top: $padding-16;
}

.book-languages,
.book-theme {
    margin-block-end: $padding-16 * 2;

    & > span:first-child {
        font-weight: bolder;
    }

    ul ul {
        padding-inline-start: 1.5em;
        cursor: pointer;
    }
}

// Responsive styles
.book-menu-content,
.book-toc-content,
.book-page,
.book-header aside,
.markdown {
    transition: 0.2s ease-in-out;
    transition-property: transform, margin, opacity, visibility;
    will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
    #menu-control,
    #toc-control {
        display: inline;
    }

    .book-menu {
        visibility: hidden;
        margin-inline-start: -$menu-width;
        font-size: $font-size-base;
        z-index: 1;
    }

    .book-toc {
        display: none;
    }

    .book-header {
        display: block;
    }

    #menu-control:focus ~ main label[for='menu-control'] {
        @include outline;
    }

    #menu-control:checked ~ main {
        .book-menu {
            visibility: initial;
        }

        .book-menu .book-menu-content {
            transform: translateX($menu-width);
            box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
            background-color: var(--body-background);

            span.menu-flag.current {
                display: none;
            }
        }

        .book-page {
            opacity: 0.25;
        }

        .book-menu-overlay {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    #toc-control:focus ~ main label[for='toc-control'] {
        @include outline;
    }

    #toc-control:checked ~ main {
        .book-header aside {
            display: block;
        }
    }

    // for RTL support
    body[dir='rtl'] #menu-control:checked ~ main {
        .book-menu .book-menu-content {
            transform: translateX(-$menu-width);
        }
    }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
    .book-page,
    .book-menu .book-menu-content,
    .book-toc .book-toc-content {
        padding: $padding-16 * 2 $padding-16;
    }
}

::view-transition-new(animation-theme-toggle) {
    animation: reveal 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    clip-path: inset(0 0 0 0);
    z-index: 99;
}

::view-transition-old(animation-theme-toggle) {
    animation: none;
    z-index: -1;
}

@keyframes reveal {
    0% {
        clip-path: inset(var(--from));
    }
}

.no-transition {
    view-transition-name: none;
}
