@import "variables";

.markdown {
    line-height: 2;

    // remove padding at the beginning of page
    > :first-child {
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bolder;
        line-height: 1;
        margin-top: 1.5em;
        margin-bottom: $padding-16;
        position: relative;

        a.anchor {
            opacity: 0;
            font-size: 0.75em;
            vertical-align: middle;
            text-decoration: none;
        }

        &:hover a.anchor,
        a.anchor:focus {
            opacity: initial;
        }

        &:before {
            content: "";
            font-size: 50%;
            left: 0;
            bottom: 0;
            margin-right: 0.5rem;
            display: inline-block;
            opacity: 0.6;
        }
    }

    h4,
    h5,
    h6 {
        font-weight: bolder;
    }
    /** 引用自一个球博客 **/
    h2 {
        font-size: 1.7rem;
        &:before {
            content: "h2";
        }
    }

    h3 {
        font-size: 1.4rem;
        &:before {
            content: "h3";
        }
    }

    h4 {
        font-size: 1.3rem;
        &:before {
            content: "h4";
        }
    }

    h5 {
        font-size: 0.875em;
    }

    h6 {
        font-size: 0.75em;
    }

    b,
    optgroup,
    strong {
        font-weight: bolder;
    }

    a {
        color: var(--color-link);
        text-underline-offset: 0.3em;

        &:hover {
            color: var(--color-hover-link);
            text-shadow: 0 0 0.75px var(--color-hover-link);
        }
        &:visited {
            color: var(--color-link);
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
    }

    code {
        padding: 0 $padding-4;
        background: var(--gray-200);
        border-radius: $border-radius;
        font-size: 0.875em;
    }

    pre {
        padding: $padding-16;
        background: var(--gray-200);
        border-radius: $border-radius;
        overflow-x: auto;
        position: relative;

        code {
            padding: 0;
            background: none;
            color: white;
        }
    }

    p {
        word-wrap: break-word;
        margin-bottom: $padding-16 * 1.5;
    }

    /** adapter ghost callout cards **/
    blockquote,
    .kg-callout-card {
        margin: $padding-16 0;
        padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

        border-inline-start: $padding-4 solid var(--gray-200);
        border-radius: $border-radius;

        color: var(--gray-700);
        font-style: italic;

        word-break: break-all;

        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
    }

    table {
        overflow: auto;
        display: block;
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: $padding-16;
        margin-bottom: $padding-16;

        tr th,
        tr td {
            padding: $padding-8 $padding-16;
            border: $padding-1 solid var(--gray-200);
        }

        tr:nth-child(2n) {
            background: var(--gray-100);
        }
    }

    hr {
        height: $padding-1;
        border: none;
        background: var(--gray-200);
    }

    ul,
    ol {
        padding-inline-start: $padding-16 * 2;
        word-wrap: break-word;

        li{
            margin-bottom: 0.25rem
        }
    }

    dl {
        dt {
            font-weight: bolder;
            margin-top: $padding-16;
        }

        dd {
            margin-inline-start: 0;
            margin-bottom: $padding-16;
        }
    }

    // Special case for highlighted code with line numbers
    .highlight table tr {
        td:nth-child(1) pre {
            margin: 0;
            padding-inline-end: 0;
        }
        td:nth-child(2) pre {
            margin: 0;
            padding-inline-start: 0;
        }
    }

    details {
        padding: $padding-16;
        border: $padding-1 solid var(--gray-200);
        border-radius: $border-radius;

        summary {
            line-height: 1;
            padding: $padding-16;
            margin: -$padding-16;
            cursor: pointer;
        }

        &[open] summary {
            margin-bottom: 0;
        }
    }

    figure {
        margin: $padding-16 0;
        figcaption p {
            margin-top: 0;
        }
    }
}

@media (min-width: 768px) {
    .markdown {
      h2:before, h3:before, h4:before {
        position: absolute;
        left: -1.5rem;
      }
    }
  }

.markdown-inner {
    // Util class to remove extra margin in nested markdown content
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
