---
import Head from '../components/Head.astro';
import { settings } from '../utils/ghost-store';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
    .not-found {
        text-align: center;
    }
    .not-found h1 {
        margin: 0.25em 0 0 0;
        opacity: 0.25;
        font-size: 40vmin;
    }
</style>

<BaseLayout>
    <Head slot="head" site={settings} />
    <Fragment slot="content">
        <main class="flex justify-center not-found">
            <div>
                <h1>500</h1>
                <h2>好像发生了不得了的错误，麻烦你告诉博主一声...</h2>
                <h3>
                    <a href="/">回去首页</a>
                </h3>
            </div>
        </main>
    </Fragment>
</BaseLayout>
