---
import { getSvg } from '../utils/help';

const { postID } = Astro.props;
---

<div class="social-interactions">
    <div class="kg-card kg-callout-card kg-callout-card-blue">
        <div class="kg-callout-emoji">💡</div><div class="kg-callout-text social-note"></div>
    </div>
    <ol class="discussion-avatar-list"></ol>
</div>

<script>
    import loadInteractions from '../utils/acitivitypub';

    document.addEventListener('astro:page-load', () => {
        loadInteractions();
    });
</script>
