<div class="social-interactions markdown">
    <ol class="discussion-avatar-list"></ol>
    <div class="social-note"></div>
</div>

<script>
    import loadInteractions from '../utils/acitivitypub';

    document.addEventListener('astro:page-load', () => {
        loadInteractions();
    });
</script>
