---
import PostAction from '../components/PostAction.astro';
import { Calendar, Heart, View } from '@lucide/astro';

import { normalizeData } from '../utils/help';
const { post } = Astro.props;
---

<PostAction post={post} />

<div class="flex flex-wrap justify-start book-post-meta">
    <div>
        <Calendar class="book-icon" />
        <a class="flex align-center" href="#" title="Last modified by" rel="noopener">
            <span>{normalizeData(post.published_at)}</span>
        </a>
    </div>

    <div>
        <Heart class="book-icon" />
        <a class="flex align-center" href="#" title="Likes" rel="noopener">
            <span class="post_likes"></span>
        </a>
    </div>

    <div>
        <View class="book-icon" />
        <a class="flex align-center" href="#" title="Views" rel="noopener">
            <span class="post_views"></span>
        </a>
    </div>
</div>
