---
import { getSvg } from '../utils/help';
import { marked } from 'marked';
import { authors, memos } from '../data/ghost-store';
import Now from './shortcode/Now.astro';

import config from '../data/config';

const author = authors.authors[0];
---

<div class="markdown hero">
    <h2 class="book-title"><a href="/about/">Hello，我是 {author.name}！</a></h2>
    <div class="bio" set:html={marked.parse(author.bio)} />
    <div class="social">
        {
            config.social.map((e) => (
                <a class="icon-rotate-shake" target="_blank" href={e.url}>
                    <Fragment set:html={getSvg(e.name, '0 0 30 30')} />
                </a>
            ))
        }
    </div>
    <Now />
    <hr class="hero-line" />
</div>
