---
import type { Post } from '@ts-ghost/content-api';
import { normalizeSlug } from '../utils/help';
import PostMeta from './PostMeta.astro';
import Hero from './Hero.astro';

const { page } = Astro.props;
---

{page.currentPage == 1 ? <Hero /> : ''}

{
    page.data.map((post: Post) => (
        <article class="markdown book-post">
            <h2 class="book-title">
                <a href={normalizeSlug(post.slug)}>{post.title}</a>
            </h2>
            <PostMeta post={post} />
            <p>{post.excerpt.replace(/<[^>]+>/g, '').substring(0, 150)}...</p>
        </article>
    ))
}
