---
import { settings } from '../data/ghost-store';
---

<ul class="book-menu-nav">
    <li class="book-section-flat">
        <span>路线牌</span>
        <ul>
            {
                settings?.navigation.map((item) => (
                    <li>
                        <a class={Astro.url.pathname == item.url ? 'current' : ''} href={item.url}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </li>
</ul>

<!-- <script>
    document.addEventListener('astro:after-swap', () => {
        document.querySelectorAll('.book-menu-nav ul li').forEach((li, index) => {
            li.addEventListener('click', (env) => {
                env.preventDefault();

                document.querySelector('.book-menu-nav ul li:first-child').style.transform = `translateY(${index * 30}px) scale(1)`;
            });
        });
    });
</script> -->
