---
import { settings } from '../data/ghost-store';

const { title } = Astro.props;
---

<ul class="book-menu-nav">
    <li class="book-section-flat">
        <span>路线牌</span>

        <ul class="book-collspan">
            {
                title && (
                    <li>
                        <a href="javascript:void(0)"  class="menu-flag current ellipsis">
                            {title}
                        </a>
                    </li>
                )
            }

            {
                settings?.navigation.map((item) => (
                    <li>
                        <a href={item.url} class={`menu-flag ellipsis ${Astro.url.pathname == item.url ? 'current' : ''}`}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </li>
</ul>
