---
import { settings } from '../data/ghost-store';

const { title } = Astro.props;
---

<ul class="book-menu-nav">
    <li class="book-section-flat">
        <span>路线牌</span>

        <ul class="book-collspan">
            <!-- {
                title ? (
                    <li transition:name="menu-nav-flag" style="top:0px;" class="menu-flag current" />
                ) : (
                    settings?.navigation.map(
                        (item, index) =>
                            Astro.url.pathname === item.url && (
                                <li transition:name="menu-nav-flag" class="menu-flag current" />
                            )
                    )
                )
            } -->

            {
                title && (
                    <li>
                        <a href="javascript:void(0)"  class="menu-flag current ellipsis">
                            {title}
                        </a>
                    </li>
                )
            }

            {
                settings?.navigation.map((item) => (
                    <li>
                        <a href={item.url} class={`menu-flag ${Astro.url.pathname == item.url ? 'current' : ''}`}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </li>
</ul>
