---
import Brand from './Brand.astro';
import MenuNav from './MenuNav.astro';
import MenuOther from './MenuOther.astro';
import MenuSearch from './MenuSearch.astro';
import MenuTaxonomy from './MenuTaxonomy.astro';
import MenuTheme from './MenuTheme';

const { site, post } = Astro.props;
---

<nav>
    <Brand />
    <MenuSearch />
    <MenuTheme client:load />
    <MenuNav post={post} />
    <MenuTaxonomy />
    <MenuOther />
</nav>
