---
import config from '../data/config';
---

<ul class="book-copy">
    <li class="book-section-flat">
        <span>其他</span>
        <ul class="book-collspan">
            {
                config.footer.map((item) => (
                    <li>
                        <Fragment set:html={item.html} />
                    </li>
                ))
            }
        </ul>
    </li>
</ul>
