---
import config from '../data/config';
import { normalizeSlug } from '../utils/help';
---

<ul>
    <li class="book-section-flat">
        <span>专栏</span>
        <ul>
            {
                config.taxonomy.map((item) => (
                    <li>
                        <a href={normalizeSlug(item.slug)} title={item.desc}>
                            {item.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </li>
</ul>
