---
import { settings } from '../data/ghost-store';
---

<ul class="book-menu-nav">
    <li class="book-section-flat">
        <span>路线牌</span>
        <span class=""></span>
        <ul>
            {
                settings?.navigation.map((item) => (
                    <li>
                        {Astro.url.pathname === item.url && (
                            <span
                                transition:name={Astro.url.pathname == item.url ? item.url : ''}
                                class={`menu-flag ${Astro.url.pathname == item.url ? 'current' : ''}`}
                            />
                        )}

                        <a href={item.url} class={`menu-flag ${Astro.url.pathname == item.url ? 'current' : ''}`}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </li>
</ul>
