---
import { getSvg, normalizeSlug } from '../utils/help';

const { page, prev, next } = Astro.props;

let post = { prev, next };

if (!page) {
    post.prev = prev;
    post.next = next;
} else {
    post.prev = page.url.prev && { slug: page.url.prev && page.url.prev, title: '' };
    post.next = page.url.next && { slug: page.url.next && page.url.next, title: '' };
}
---

<div class="flex flex-wrap justify-between book-pagination">
    {
        post.prev && (
            <a href={normalizeSlug(post.prev.slug)} aria-label="Read previous page" class="flex align-center float-left">
                <Fragment set:html={getSvg('backward')} />
                <span>{post.prev.title}</span>
            </a>
        )
    }

    {
        post.next && (
            <a href={normalizeSlug(post.next.slug)} aria-label="Read next page" class="flex align-center float-right">
                <span>{post.next.title}</span>
                <Fragment set:html={getSvg('forward')} />
            </a>
        )
    }
</div>
