---
const { isToc, html } = Astro.props;
---

<nav id="TableOfContents">
    <ul>
        {
            isToc && (
                <li>
                    <strong>TOC</strong>
                    <Fragment set:html={html} />
                </li>
            )
        }

        <li>
            <strong>
                <a href="#join-comments">加入评论</a>
            </strong>
        </li>
    </ul>
</nav>
