---
import { tags } from '../data/ghost-store';
import { normalizeSlug } from '../utils/help';
---

<nav>
    <ul>
        <li class="book-section-flat">
            <strong>Tags</strong>
            <ul>
                {
                    tags.map(
                        (item: any) =>
                            item.visibility == 'public' &&
                            item.count.posts >= 3 && (
                                <li class="flex justify-between">
                                    <a href={`/tag${normalizeSlug(item.slug)}`}>#{item.name}</a>
                                    <span>{item.count.posts}</span>
                                </li>
                            )
                    )
                }
            </ul>
        </li>
    </ul>
</nav>
